/*parallax effect*/
html *
{
    font-family: 'Noto Sans', sans-serif;;
}

.hero-section{
    background-image: url(images/bg.jpg);
    padding: 50px 100px 0px 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-headding{
    color: white;
    font-size: 2em;
    margin-bottom: 0px; 
}

.bottom-headding{
    color: white;
    font-size: 0.5em;
    
}

.dp{
    width: 8em;
    height: auto;
    padding-top: 3.5em;
}

.profile{
    width: 50px;
    height: 50px;
    
}

.profileborder{
    padding: 10px;
    background-attachment: fixed;

}

.hero-section-bottom{
    background-image: url(images/bg2.jpg);
    padding: 75px 100px 50px 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.boxer{
    background-color: rgba(255, 255, 255, 0.336);
    
}
